# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#

# Ignore .terraform.lock.hcl files within any .terraform directory and its subdirectories
.terraform/**/.terraform.lock.hcl

# Ignore .terraform directories within any .terraform directory and its subdirectories
.terraform/**/.terraform/

test_client.go
logs

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work